In [2]:
#importação de bibliotecas necessárias
import pandas as pd
import numpy as np
import csv

In [18]:
# Importação da nossa base de dados para dentro do python
#dados = pd.read_csv(r'C:\Users\Marcos Tamas\Desktop\Faculdade\Projeto Integrador III\brasileirao_serie_a.csv')
dados = pd.read_csv('https://raw.githubusercontent.com/MarcosTamas12/Projeto-Integrador-III/main/brasileirao_serie_a.csv')

In [19]:
# Exibição dos nossos dados
dados.head()

,ano_campeonato,data,horario,rodada,estadio,arbitro,publico,publico_max,time_man,time_vis,...,chutes_bola_parada_man,chutes_bola_parada_vis,defesas_man,defesas_vis,impedimentos_man,impedimentos_vis,chutes_man,chutes_vis,chutes_fora_man,chutes_fora_vis
0,2003,2003-03-29,08:00,1,Estádio Brinco de Ouro da Princesa,NaN,NaN,NaN,Guarani,Vasco da Gama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003,2003-03-29,08:00,1,Arena da Baixada,NaN,NaN,NaN,Atlético-PR,Grêmio,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2003,2003-03-30,09:00,1,Estádio Jornalista Mário Filho,NaN,NaN,NaN,Flamengo,Coritiba FC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,2003-03-30,09:00,1,Estádio de Hailé Pinheiro,NaN,NaN,NaN,Goiás EC,Paysandu SC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2003,2003-03-30,09:00,1,Estádio Beira-Rio,NaN,NaN,NaN,Internacional,Ponte Preta,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
print(dados.shape) #Exibe a forma do ndarray. Nº de linhas e Nº de colunas, respectivamente

print(dados.ndim) #Exibe o número de dimensões da estrutura

(7030, 36)
2

# Criando as tabelas dimensão

In [21]:
# Criação da tabela df_tabela_timeV2 com todos os times que participaram do campeonato brasileiro
tabela_time = set(dados['time_man'])
df_tabela_time = pd.DataFrame(tabela_time)

df_tabela_timeV2 = df_tabela_time.rename(columns={0:'Times'})

In [22]:
df_tabela_timeV2

             Times
0       EC Vitória
1      Paysandu SC
2         Cruzeiro
3        Santos FC
4      Corinthians
5         Flamengo
6          Náutico
7      Criciúma EC
8    Vasco da Gama
9      Ponte Preta
10   Internacional
11         Avaí FC
12  Brasiliense-DF
13     Coritiba FC
14     Atlético-MG
15       São Paulo
16      América-RN
17       Palmeiras
18          Grêmio
19             CSA
20        Botafogo
21       Juventude
22     São Caetano
23       Fortaleza
24      Fluminense
25     Ipatinga FC
26         Guarani
27        EC Bahia
28        Ceará SC
29      América-MG
30     Atlético-PR
31    Sport Recife
32      Portuguesa
33    Joinville-SC
34  Figueirense FC
35    Athletico-PR
36        Goiás EC
37     Atlético-GO
38     Santo André
39     Chapecoense
40   RB Bragantino
41         Barueri
42          Paraná
43      Santa Cruz

In [23]:
lista = np.arange(len(df_tabela_timeV2['Times']))

In [24]:
df_tabela_timeV2.insert(1,"indice",lista)

In [25]:
#Tabela dimensão times
df_tabela_timeV2.head(50)

             Times  indice
0       EC Vitória       0
1      Paysandu SC       1
2         Cruzeiro       2
3        Santos FC       3
4      Corinthians       4
5         Flamengo       5
6          Náutico       6
7      Criciúma EC       7
8    Vasco da Gama       8
9      Ponte Preta       9
10   Internacional      10
11         Avaí FC      11
12  Brasiliense-DF      12
13     Coritiba FC      13
14     Atlético-MG      14
15       São Paulo      15
16      América-RN      16
17       Palmeiras      17
18          Grêmio      18
19             CSA      19
20        Botafogo      20
21       Juventude      21
22     São Caetano      22
23       Fortaleza      23
24      Fluminense      24
25     Ipatinga FC      25
26         Guarani      26
27        EC Bahia      27
28        Ceará SC      28
29      América-MG      29
30     Atlético-PR      30
31    Sport Recife      31
32      Portuguesa      32
33    Joinville-SC      33
34  Figueirense FC      34
35    Athletico-PR      35
36        Goiás EC      36
37     Atlético-GO      37
38     Santo André      38
39     Chapecoense      39
40   RB Bragantino      40
41         Barueri      41
42          Paraná      42
43      Santa Cruz      43

In [26]:
tabela_arbitro = set(dados['arbitro'])
df_tabela_arbitro = pd.DataFrame(tabela_arbitro)
df_tabela_arbitro = df_tabela_arbitro.dropna(axis=0, how='all')

In [27]:
df_tabela_arbitro = df_tabela_arbitro.rename(columns={0:'Arbitro'})
lista_arbitros = np.arange(len(df_tabela_arbitro['Arbitro']))
df_tabela_arbitro.insert(1,"indice",lista_arbitros)

In [28]:
df_tabela_arbitro

                         Arbitro  indice
1          Fabrício Neves Corrêa       0
2          Evandro Rogerio Roman       1
3     Wallace Nascimento Valente       2
4            Edina Alves Batista       3
5    Antonio Dib Moraes de Sousa       4
..                           ...     ...
144   Frederico Honorato Moreira     143
145       Leandro Bizzio Marinho     144
146      Cleisson Veloso Pereira     145
147     Emerson Batista da Silva     146
148   William Marcelo Souza Nery     147

[148 rows x 2 columns]

In [29]:
tabela_estadio = set(dados['estadio'])
df_tabela_estadio = pd.DataFrame(tabela_estadio)
df_tabela_estadio = df_tabela_estadio.dropna(axis=0, how='all')

In [30]:
df_tabela_estadio

                                             0
1                     Estádio Raimundo Sampaio
2                  Estádio José do Rego Maciel
3               Estádio Olímpico Nilton Santos
4   Estádio Municipal Radialista Mário Helênio
5                      Estádio Nabi Abi Chedid
..                                         ...
73                           Estádio Beira-Rio
74              Estádio Aderbal Ramos da Silva
75                               Arena Barueri
76                     Estadio Parque Maracaná
77                              Allianz Parque

[77 rows x 1 columns]

In [31]:
df_tabela_estadio = df_tabela_estadio.rename(columns={0:'Estadios'})
lista_estadios = np.arange(len(df_tabela_estadio['Estadios']))
df_tabela_estadio.insert(1,"indice",lista_estadios)

In [32]:
df_tabela_estadio

                                      Estadios  indice
1                     Estádio Raimundo Sampaio       0
2                  Estádio José do Rego Maciel       1
3               Estádio Olímpico Nilton Santos       2
4   Estádio Municipal Radialista Mário Helênio       3
5                      Estádio Nabi Abi Chedid       4
..                                         ...     ...
73                           Estádio Beira-Rio      72
74              Estádio Aderbal Ramos da Silva      73
75                               Arena Barueri      74
76                     Estadio Parque Maracaná      75
77                              Allianz Parque      76

[77 rows x 2 columns]

In [33]:
#tabela fato
dados
#tabela dimensão
df_tabela_timeV2
df_tabela_estadio
df_tabela_arbitro

                         Arbitro  indice
1          Fabrício Neves Corrêa       0
2          Evandro Rogerio Roman       1
3     Wallace Nascimento Valente       2
4            Edina Alves Batista       3
5    Antonio Dib Moraes de Sousa       4
..                           ...     ...
144   Frederico Honorato Moreira     143
145       Leandro Bizzio Marinho     144
146      Cleisson Veloso Pereira     145
147     Emerson Batista da Silva     146
148   William Marcelo Souza Nery     147

[148 rows x 2 columns]

# Estatísticas Descritivas

In [34]:
dados[["chutes_bola_parada_man", "chutes_bola_parada_vis", "defesas_man","defesas_vis", "impedimentos_man", "impedimentos_vis", "chutes_man","chutes_vis","chutes_fora_vis"]].describe()

,chutes_bola_parada_man,chutes_bola_parada_vis,defesas_man,defesas_vis,impedimentos_man,impedimentos_vis,chutes_man,chutes_vis,chutes_fora_vis
count,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000
mean,14.880478,15.003984,2.786189,3.567065,1.393094,1.312085,9.856574,8.015936,4.527224
std,4.665292,4.688287,1.909027,2.318079,1.382664,1.238597,6.267583,5.486663,2.596461
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,12.000000,1.000000,2.000000,0.000000,0.000000,5.000000,3.000000,3.000000
50%,15.000000,15.000000,3.000000,3.000000,1.000000,1.000000,9.000000,7.000000,4.000000
75%,18.000000,18.000000,4.000000,5.000000,2.000000,2.000000,14.000000,12.000000,6.000000
max,30.000000,30.000000,12.000000,13.000000,8.000000,8.000000,31.000000,31.000000,13.000000