In [2]:
#importação de bibliotecas necessárias
import pandas as pd
import numpy as np
import csv

In [3]:
# Importação da nossa base de dados para dentro do python
#dados = pd.read_csv(r'C:\Users\Marcos Tamas\Desktop\Faculdade\Projeto Integrador III\brasileirao_serie_a.csv')
dados = pd.read_csv('https://raw.githubusercontent.com/MarcosTamas12/Projeto-Integrador-III/main/brasileirao_serie_a.csv')

In [8]:
# Exibição dos nossos dados
dados.head(3)

,ano_campeonato,data,horario,rodada,estadio,arbitro,publico,publico_max,time_man,time_vis,...,chutes_bola_parada_man,chutes_bola_parada_vis,defesas_man,defesas_vis,impedimentos_man,impedimentos_vis,chutes_man,chutes_vis,chutes_fora_man,chutes_fora_vis
0,2003,2003-03-29,08:00,1,Estádio Brinco de Ouro da Princesa,NaN,NaN,NaN,Guarani,Vasco da Gama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003,2003-03-29,08:00,1,Arena da Baixada,NaN,NaN,NaN,Atlético-PR,Grêmio,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2003,2003-03-30,09:00,1,Estádio Jornalista Mário Filho,NaN,NaN,NaN,Flamengo,Coritiba FC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
print(dados.shape) #Exibe a forma do ndarray. Nº de linhas e Nº de colunas, respectivamente

print(dados.ndim) #Exibe o número de dimensões da estrutura

(7030, 36)
2

# Criando as tabelas dimensão

In [40]:
# Criação da tabela df_tabela_timeV2 com todos os times que participaram do campeonato brasileiro
tabela_time = set(dados['time_man'])
df_tabela_time = pd.DataFrame(tabela_time)

df_tabela_timeV2 = df_tabela_time.rename(columns={0:'Times'})

In [51]:
df_tabela_timeV2

             Times  indice
0         EC Bahia       0
1        Juventude       1
2       EC Vitória       2
3         Flamengo       3
4      São Caetano       4
5     Joinville-SC       5
6         Ceará SC       6
7      Criciúma EC       7
8         Botafogo       8
9     Sport Recife       9
10  Figueirense FC      10
11    Athletico-PR      11
12   Vasco da Gama      12
13          Paraná      13
14         Barueri      14
15         Guarani      15
16        Cruzeiro      16
17             CSA      17
18     Corinthians      18
19     Paysandu SC      19
20          Grêmio      20
21       São Paulo      21
22     Coritiba FC      22
23     Santo André      23
24     Chapecoense      24
25        Goiás EC      25
26     Ponte Preta      26
27       Santos FC      27
28      Santa Cruz      28
29     Ipatinga FC      29
30      América-RN      30
31       Palmeiras      31
32      Portuguesa      32
33     Atlético-PR      33
34   Internacional      34
35     Atlético-MG      35
36  Brasiliense-DF      36
37   RB Bragantino      37
38      Fluminense      38
39         Avaí FC      39
40         Náutico      40
41       Fortaleza      41
42      América-MG      42
43     Atlético-GO      43

In [42]:
lista = np.arange(len(df_tabela_timeV2['Times']))

In [43]:
df_tabela_timeV2.insert(1,"indice",lista)

In [44]:
#Tabela dimensão times
df_tabela_timeV2.head(50)

             Times  indice
0         EC Bahia       0
1        Juventude       1
2       EC Vitória       2
3         Flamengo       3
4      São Caetano       4
5     Joinville-SC       5
6         Ceará SC       6
7      Criciúma EC       7
8         Botafogo       8
9     Sport Recife       9
10  Figueirense FC      10
11    Athletico-PR      11
12   Vasco da Gama      12
13          Paraná      13
14         Barueri      14
15         Guarani      15
16        Cruzeiro      16
17             CSA      17
18     Corinthians      18
19     Paysandu SC      19
20          Grêmio      20
21       São Paulo      21
22     Coritiba FC      22
23     Santo André      23
24     Chapecoense      24
25        Goiás EC      25
26     Ponte Preta      26
27       Santos FC      27
28      Santa Cruz      28
29     Ipatinga FC      29
30      América-RN      30
31       Palmeiras      31
32      Portuguesa      32
33     Atlético-PR      33
34   Internacional      34
35     Atlético-MG      35
36  Brasiliense-DF      36
37   RB Bragantino      37
38      Fluminense      38
39         Avaí FC      39
40         Náutico      40
41       Fortaleza      41
42      América-MG      42
43     Atlético-GO      43

In [90]:
tabela_arbitro = set(dados['arbitro'])
df_tabela_arbitro = pd.DataFrame(tabela_arbitro)
df_tabela_arbitro = df_tabela_arbitro.dropna(axis=0, how='all')

In [91]:
df_tabela_arbitro = df_tabela_arbitro.rename(columns={0:'Arbitro'})
lista_arbitros = np.arange(len(df_tabela_arbitro['Arbitro']))
df_tabela_arbitro.insert(1,"indice",lista_arbitros)

In [92]:
df_tabela_arbitro

                             Arbitro  indice
1           Marcelo de Lima Henrique       0
2                Manuel Lopo Garrido       1
3              Savio Pereira Sampaio       2
4                 Wilson Luiz Seneme       3
5                     Vinicius Gomes       4
..                               ...     ...
144            Nielson Nogueira Dias     143
145  Franscisco Carlos do Nascimento     144
146       Wallace Nascimento Valente     145
147        Guilherme Ceretta de Lima     146
148             José Caldas de Souza     147

[148 rows x 2 columns]

In [87]:
tabela_estadio = set(dados['estadio'])
df_tabela_estadio = pd.DataFrame(tabela_estadio)
df_tabela_estadio = df_tabela_estadio.dropna(axis=0, how='all')

In [93]:
df_tabela_estadio

                                              0
1                      Estádio Raimundo Sampaio
2            Estádio Estadual Lourival Baptista
3             Estádio Adelmar da Costa Carvalho
4                     Estádio de Hailé Pinheiro
5                       Campus Realzale Gazteak
..                                          ...
73                          Estádio Vail Chaves
74  Estádio Nacional de Brasília Mané Garrincha
75                      Estádio Antonio Accioly
76           Estádio Governador Plácido Castelo
77                               Arena Pantanal

[77 rows x 1 columns]

In [94]:
df_tabela_estadio = df_tabela_estadio.rename(columns={0:'Estadios'})
lista_estadios = np.arange(len(df_tabela_estadio['Estadios']))
df_tabela_estadio.insert(1,"indice",lista_estadios)

In [95]:
df_tabela_estadio

                                       Estadios  indice
1                      Estádio Raimundo Sampaio       0
2            Estádio Estadual Lourival Baptista       1
3             Estádio Adelmar da Costa Carvalho       2
4                     Estádio de Hailé Pinheiro       3
5                       Campus Realzale Gazteak       4
..                                          ...     ...
73                          Estádio Vail Chaves      72
74  Estádio Nacional de Brasília Mané Garrincha      73
75                      Estádio Antonio Accioly      74
76           Estádio Governador Plácido Castelo      75
77                               Arena Pantanal      76

[77 rows x 2 columns]

# Estatísticas Descritivas

In [10]:
dados[["chutes_bola_parada_man", "chutes_bola_parada_vis", "defesas_man","defesas_vis", "impedimentos_man", "impedimentos_vis", "chutes_man","chutes_vis","chutes_fora_vis"]].describe()

,chutes_bola_parada_man,chutes_bola_parada_vis,defesas_man,defesas_vis,impedimentos_man,impedimentos_vis,chutes_man,chutes_vis,chutes_fora_vis
count,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000
mean,14.880478,15.003984,2.786189,3.567065,1.393094,1.312085,9.856574,8.015936,4.527224
std,4.665292,4.688287,1.909027,2.318079,1.382664,1.238597,6.267583,5.486663,2.596461
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,12.000000,1.000000,2.000000,0.000000,0.000000,5.000000,3.000000,3.000000
50%,15.000000,15.000000,3.000000,3.000000,1.000000,1.000000,9.000000,7.000000,4.000000
75%,18.000000,18.000000,4.000000,5.000000,2.000000,2.000000,14.000000,12.000000,6.000000
max,30.000000,30.000000,12.000000,13.000000,8.000000,8.000000,31.000000,31.000000,13.000000